*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  background-color: #ecf0f1;
  min-height: 100vh;
}

.header{
  background-color: #8e44ad;
  display: flex;
  align-items: center;

}
.brand{
  flex:1
}

nav ul{
  display: flex;

}

nav li a{
  color: #ffff;
  display: block;
  padding: 10px 20px;
  margin: 5px 10px;
}
nav li a:hover{
  cursor: pointer;
}
nav li a:active{
  background: #9b59b6;
  border-radius: 6px;
}
.form{
  width: 50%;
  margin: 5% auto;
}
.form form p{
  display: flex;
  flex-direction: column;
  margin:20px 0;

}
.form form p label{
  padding:1px 0;
}

.form input{
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: none;
  margin: 10px 0;

}
.helptext, .form ul li{
    color: #34495e;
    font-weight: 400;
}
.form ul li{
  list-style: disc;
  margin-left: 30px
}

.form button{
  background: #8e44ad;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
}
.form button:hover{
  cursor: pointer;

}
.form button:active{
    background: #9b59b6;
}

.sidebar{
  width: 20%;
  background-color: #000;
  position: fixed;
  height: 100%;
  top: 0;
}

.sidebar nav ul{
  display: flex;
  flex-direction: column;
  
}
.sidebar  nav ul li a{
  color: #b2b2b2;
  display: block;
  margin-left: 25px;
  font-weight: 600;
}
.sidebar  nav ul li a:hover{
  color: #fff;
}
.sidebar  nav ul li a:active{
  background-color: #282828;
}
.divider{
  border-bottom: 1px solid rgba(255, 255, 255, 0.479);
}
.playlistitem{
  color: red;
}

.sidebar div.playlist{
  margin-top: 30px;
}
.contentSection{
  margin-left: 20%;
  background-color: #121212;
  min-height: 100vh;
}
.maincontent{
  width: 95%;
  margin: 0 auto;
}
.maincontent h2{
  text-decoration: underline;
  color: #b2b2b2;
}
.searchcontainer{
  padding: 25px 0;
}
.searchinput{
  text-align: center;
}

.searchinput input{
  width: 400px;
  height: 40px;
  border: none;
  padding: 6px;
  border-radius: 6px;
  outline: none;
}
.searchbtn{
  margin-left: 10px;
  padding: 12px;
  border: none;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}
.searchbtn:hover{
  background-color: rgb(206, 206, 206);
}
.trackslist, .artistlist{
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.trackthumbnail img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.trackplaylist img{
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}
.trackplaylist .track.play img{
  animation-play-state: running;
}
@keyframes rotate {
  from{
    transform:  rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.track, .artist{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.tracktitle, .artistname{
  margin-left: 10px;
}

.tracktitle a, .artist a{
  color: #b2b2b2;
}

.tracktitle a:hover, .artist a:hover{
  text-decoration: underline;
}
.listoptions{
  
  margin-left: 50px;
  padding: 20px 0;
}
.listoptions nav li a{
  background-color: #b2b2b2;
  color: #121212;
  font-weight: 600;
}
.listoptions nav li a:hover{
  background-color: rgb(206, 206, 206);
}
.cardbox{
  margin: 0 auto;
  padding: 20px 0;
  width: 800px;
}
.trackcard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.card_image{
  width: 500px;
  margin: 0 auto;
}
.card_image img{
  width: 500px;
  height: 300px;
  object-fit: cover;
}
.card_info p{
  color: #b2b2b2;
  font-size: 14px;
}
.card_info p a{
  color: #b2b2b2;
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
  padding: 10px;
}

.trackinfo{
  border-radius: 6px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #000;
  color: #b2b2b2;
  padding:10px;
}

.trackinfo div > a {
  color: #b2b2b2;
}
.trackinfo button{
  background-color: #696969;
  display: block;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 30px;
  font-size: 16px;
}
.artist_info p a{
  color: #b2b2b2;
  text-decoration: underline;
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
}
.artist_info p{
  color: #696969;
}
.artist_info p span{
  color: #b2b2b2;
  font-size: 18px;
  padding: 10px;
}

audio{
  height: 40px;
}
.like_icon{
  font-size: 30px;
  cursor: pointer;
}
.like_icon.liked{
  color: #10ac84;
}
.playlisttitle{
  padding: 20px 0;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

