{% extends 'account/default.html' %}
       {% block content %}
           <div class="section">
               {% include 'app/sidebar.html' %}

           <div class="contentSection">
          <div class="maincontent">
            <div class="searchcontainer">
              <div class="searchinput">
                <input
                  type="text"
                  id="searchbox"
                  placeholder="Artists, Tracks or Albums"
                  onchange="get_search_result()"
                />
                <button class="searchbtn" id="searchbtn" onclick="get_search_result()">Search</button>
              </div>
            </div>

            {% if result %}
                {% include 'app/tracks.html' with tracks=result %}
                <div class="listoptions">
                    <nav>
                        <ul>
                            <li><a href="{% url 'artist_list' %}">Artist</a></li>
                            <li><a href="{% url 'album_list' %}">Albums</a></li>
                        </ul>
                    </nav>
                </div>
                {% else %}
                {% if q.tracks %}
                    {% include 'app/tracks.html' with tracks=q.tracks %}
                {% endif %}
                {% if q.albums %}
                    {% include 'app/albums.html' with albums=q.albums %}
                {% endif %}
                {% if q.artists %}
                    {% include 'app/artists.html' with artists=q.artists %}
                {% endif %}
            {% endif %}

            {{ result.tracks }}

</div>


        </div>
           </div>



       {% endblock %}