                <div class="trackslist">
                    <h2>Albums</h2>
                    {% for album in albums %}
                    <div class="track">
                        <div class="trackthumbnail">
                            <img src="{{ album.thumbnail.url }}" alt="" />
                        </div>
                        <div class="tracktitle">
                            <p><a href="">{{ album.name }}</a></p>
                        </div>
                    </div>
                {% endfor %}
                </div>
