{% extends 'account/authenticated_base.html'%}
{% block content %}
<div class="cardbox">
    <div class="playlisttitle">
        {% if playlist %}
        <div>
            <h2 id="title">{{ playlist.name.title }}</h2>
            <h2><a href="{% url 'playlist_delete_view' playlist.pk %}"><ion-icon name="trash" id="deletebtn"></ion-icon></a></h2>
        </div>
            
        {% else %}
            <h2>Liked Songs</h2>
        {% endif %}
    </div>
<div class="trackinfo">
    <div>
      <a href="">title</a>
    </div>
    <div>
      <a href="">Artist</a>
    </div>
    <div>
      <a href="">Album</a>
    </div>
    <div>
      <p>Created date</p>
    </div>
    <div>
     
    </div>
</div>
 {% if tracks %}
    {% for track in tracks %}
    <div class="trackinfo"  data-id="{{ track.id }}">
        <div>
          <a href="{% url 'track_view' track.slug %}">{{ track.title.title }}</a>
        </div>
        <div>
          <a href="{% url 'artist_view' track.artist.pk %}">{{ track.artist.name.title }}</a>
        </div>
        <div>
          <a href="{% url 'album_view' track.album.pk %}">{{ track.album.name.title }}</a>
        </div>
        <div>
          <p>{{ track.created|date:"M d, Y " }}</p>
        </div>
        <div>  
          <ion-icon name="heart" id="likebtn" dataset="5" class="like_icon liked"></ion-icon>
        </div>
    </div>
    {% endfor %}
 {% elif playlist %}
 {% for track in playlist.tracks.all %}
 <div class="trackinfo"  data-id="{{ track.id }}" data-playlistid="{{ playlist.id }}" >
     <div>
       <a href="{% url 'track_view' track.slug %}">{{ track.title.title }}</a>
     </div>
     <div>
       <a href="{% url 'artist_view' track.artist.pk %}">{{ track.artist.name.title }}</a>
     </div>
     <div>
       <a href="{% url 'album_view' track.album.pk %}">{{ track.album.name.title }}</a>
     </div>
     <div>
       <p>{{ track.created|date:"M d, Y " }}</p>
     </div>
     <div>
        {% if track in liked_tracks %}
        <ion-icon name="heart" id="likebtn" class="like_icon liked"></ion-icon>
        {% else %}
        <ion-icon name="heart" id="likebtn" class="like_icon"></ion-icon>
        {% endif %}
     </div>
     <div>
        <h2><ion-icon name="remove-circle" id="removebtn"></ion-icon></h2>
     </div>
 </div>
 {% endfor %}
 {% endif %}
</div>
 
{% if playlist %}

<script>
    const likebtn = document.querySelector("#likebtn");
    if(likebtn){
      likebtn.addEventListener('click', function(){
    const liked = likebtn.classList.contains("liked");
    const trackid = this.parentNode.parentNode.dataset.id;
    if (liked){
      likebtn.classList.remove("liked");
      unlikeTrack(trackid)
    }else{
      likebtn.classList.add("liked");
      likeTrack(trackid)
    }
    })
    }
    function likeTrack(id){
      
      const xhr = new XMLHttpRequest();
      xhr.open("GET", `/track/like/${id}`);
      xhr.send()
    }
    function unlikeTrack(id){
      
      const xhr = new XMLHttpRequest();
      xhr.open("GET", `/track/unlike/${id}`);
      xhr.send()
    }

    const removebtns = document.querySelectorAll("#removebtn");
  removebtns.forEach( removebtn => removebtn.addEventListener('click', removefromplaylist, false));

  function removefromplaylist(){
    const xhr = new XMLHttpRequest();
    const trackinfo = this.parentNode.parentNode.parentNode.dataset;
    xhr.open("GET", `/playlist/${trackinfo.playlistid}/remove/track/${trackinfo.id}/`);
    xhr.onload = function(){
      console.log()
      if(this.status == 200){
        const response = JSON.parse(this.responseText);
        if(response.removed){
          window.location.reload();
        }
      }
    }
    xhr.send();
  }
</script>
{% else %}
<script>
    const likebtns = document.querySelectorAll("#likebtn");
    likebtns.forEach( likebtn => likebtn.addEventListener('click', unlikeTrackbtnclicked));
    
    function unlikeTrackbtnclicked(){
    const liked = this.classList.contains("liked");
    const trackid = this.parentNode.parentNode.dataset.id;
    if (liked){
      unlikeTrack(trackid)
    }else{
      likebtn.classList.add("liked");
      likeTrack(trackid)
    }
    }
    function unlikeTrack(id){
      const xhr = new XMLHttpRequest();
      xhr.open("GET", `/track/unlike/${id}`);
      xhr.onload = function(){
          if (this.status == 200){
              const response = JSON.parse(this.responseText);
              window.location.reload()
          }
      }
      xhr.send()
    }
  </script>
  
{% endif %}
{% endblock %}
