<div class="sidebar">
    <div class="navigation">
        <nav>
            <ul>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'listing' %}">Home</a></li>
                <li><a href="">Library</a></li>
            </ul>
        </nav>
    </div>
    <div class="playlist">
        <nav>
            <ul>
                <li>
                    <a href="void:javascript()" id="modalopenBtn">Create Playlist</a>
                </li>
                <li><a href="{% url 'playlist_default' %}">Liked Songs</a></li>
                <li><a href="" class="divider"></a></li>
                <div class="playlistitems">
                    {% if user.is_authenticated %}
                        {% for playlist in user.playlists.all %}
                            {% if playlist.name != 'Liked Songs' %}
                                <li><a href="{% url 'playlist_view' playlist.pk %}">{{ playlist.name }}</a></li>        
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </ul>
        </nav>
    </div>
</div>