 <div class="sidebar">
          <div class="navigation">
            <nav>
              <ul>
                <li><a href="">Home</a></li>
                <li><a href="{% url 'listing' %}">Search</a></li>
                <li><a href="">Library</a></li>
              </ul>
            </nav>
          </div>
          <div class="playlist">
            <nav>
              <ul>
                <li>
                  <a href="void:javascript()" id="myBtn">Create Playlist</a>
                </li>
                <li><a href="">Liked Songs</a></li>
                <li><a href="" class="divider"></a></li>
                <li><a href="">Naruto 1</a></li>
                <li class="playlistitem">
                  <a href="" class="playlistitem">Naruto 2</a>
                </li>
                <li class="playlistitem"><a href="">Naruto 3</a></li>
              </ul>
            </nav>
          </div>
        </div>
